/* Colours`*/
    $blue: #5D6CD3;
    $brown: #D3A55D;
    $red: #D35D5D;
    $orange: #D3A95D;
    $green: #58C05D;
    $aqua: #58C2C2;
    $purple: #9F5DD3;
    $black_transparency: rgba(0,0,0,0.8);
/* End colours */

$hover_darken_percent: 5%;
